<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="./suma-componente.html">
<link rel="import" href="./resta-componente.html">
<link rel="import" href="./multiplicacion-componente.html">
<link rel="import" href="./division-componente.html">

<dom-module id="calculadora-componente">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <p>Segundo</p>
    <p>[[operador1]]</p>
    <p>[[operador2]]</p>
    <suma-componente operador1="{{operador1}}" operador2="{{operador2}}" suma="{{suma}}" >
      <!-- suma="{{suma}}" pasa la información al padre -->
    </suma-componente>
    <resta-componente operador1="{{operador1}}" operador2="{{operador2}}" resta="{{resta}}"></resta-componente>
    <multiplicacion-componente operador1="{{operador1}}" operador2="{{operador2}}" multiplicacion="{{multiplicacion}}"></multiplicacion-componente>
    <division-componente operador1="{{operador1}}" operador2="{{operador2}}" division="{{division}}"></division-componente>
    <!-- <p>Valor de resultados (total) {{total}}</p> -->
    <p>[[suma]] [[resta]] [[multiplicacion]] [[division]]</p>
  </template>

  <script>
    class CalculadoraComponente extends Polymer.Element {
      static get is() {
        return 'calculadora-componente';
      }
      // propiedades "globales" para ser usadas por herencia
      static get properties() {
        return {
          operador1: {
            type: Number,
            reflectToAttribute: true,
          },
          operador2: {
            type: Number,
            // observer: '_infinito',
            reflectToAttribute: true,
          }
        };
      }
      static get observers() {
        return ['_getTotal(suma, resta, multiplicacion, division), _infinito()']
      }
      _getTotal(suma, resta, multiplicacion, division) {
        this.set('total', suma + resta + multiplicacion);
        console.log(this.total);
        console.log(this.get('total'));
      }
    }

    window.customElements.define(CalculadoraComponente.is, CalculadoraComponente);
  </script>
</dom-module>
