<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="division-componente">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <p>Valor de division {{division}}</p>
  </template>

  <script>
    class DivisionComponente extends Polymer.Element {
      static get is() {
        return 'division-componente';
      }

      static get properties() {
        return {
          operador2: {
            type: Number,
            observer: '_cambiaCero',
            reflectToAttribute: true,
          },
          division: {
            type: Number,
            computed: '_getDivision(operador1, operador2)',
            readOnly: true,
            notify: true
          },
        };
      }
      _cambiaCero(nv){
        if(nv === 0){
          this.set('operador2', 1)
        }
      }
      _getDivision(operador1, operador2) {
        return operador1 / operador2;
      }

    }

    window.customElements.define(DivisionComponente.is, DivisionComponente);
  </script>
</dom-module>
