<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="multiplicacion-componente">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <p>Valor de multiplicacion  {{multiplicacion}}</p>
  </template>

  <script>

    class MultiplicacionComponente extends Polymer.Element {
      static get is() {
        return 'multiplicacion-componente';
      }
      static get properties() {
        return {
          multiplicacion: {
            type: Number,
            computed: '_getMultiplicacion(operador1, operador2)',
            readOnly: true,
            notify: true
          }

        };
      }

      _getMultiplicacion(operador1, operador2) {
        return operador1 * operador2;
      }

    }

    window.customElements.define(MultiplicacionComponente.is, MultiplicacionComponente);
  </script>
</dom-module>
