<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="resta-componente">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <p>Valor de resta {{resta}}</p>
  </template>

  <script>
    class RestaComponente extends Polymer.Element {
      static get is() {
        return 'resta-componente';
      }

      static get properties() {
        return {
          resta: {
            type: Number,
            computed: '_getResta(operador1, operador2)',
            readOnly: true,
            notify: true
          }

        };
      }

      _getResta(operador1, operador2) {
        return operador1 - operador2;
      }
    }

    window.customElements.define(RestaComponente.is, RestaComponente);
  </script>
</dom-module>
