<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="suma-componente">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <p>Valor de suma {{suma}} + 20:  {{_suma2AlParametroQueLlega(suma)}}</p>

  </template>

  <script>
    class SumaComponente extends Polymer.Element {
      static get is() {
        return 'suma-componente';
      }

      static get properties() {
        return {
          suma: {
            type: Number,
            computed: '_getSuma(operador1, operador2)',
            readOnly: true,
            notify: true //para permitir el paso de informacion binding two way al padre
          }
        };
      }

      _getSuma(operador1, operador2) {
        console.log('ASDASDASDA', operador1, operador2);
        return operador1 + operador2;
      }
      _suma2AlParametroQueLlega(parametro) {
        return parametro + 20;
      }

    }

    window.customElements.define(SumaComponente.is, SumaComponente);
  </script>
</dom-module>
