<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="./banco-chino.html">
<link rel="import" href="./banco-mexicano.html">

<dom-module id="banco-app">

  <template>
    <style>
      label {
        display: block;
        padding: .5rem 0rem;
      }

      input {
        border: none;
        /* width: 50vh; */
        background: none;
        border-bottom: 1px solid gray
      }

      button {
        /* border-color: transparent;
        padding: .8rem;
        font-size: 1rem;
        font-weight: bold;
        margin-right: 1rem;
        background-color: #6200ee;
        color: #fff; */
      }

      .wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
        grid-auto-rows: minmax(100px, auto);
      }

      .one {
        grid-column: 1 / 3;
        grid-row: 1;
      }
      .conversiones {
        grid-column: 3;
        grid-row: 1;
      }

    </style>
    <slot></slot>
    <div style="margin-bottom: 1rem; margin-top: 1rem">
      <label for="deposito-global">Monto a depositar:</label>
      <input value="{{amount::change}}" pattern="[0-9]*" id="deposito-global">

      <p>¿En qué banco realizaras tu operación?</p>
      <template is="dom-repeat" items="{{bancos}}" id="listaBancos">
        <button on-click="seleccionBanco">
          Banco {{item.pais}}
        </button>
      </template>
    </div>
    <array-selector id="selector" items="{{bancos}}" selectedItem="{{selected}}"></array-selector>

    <div class="wrapper">
      <div class="one">
        <banco-chino  amount="[[amount]]" saldo="{{saldolocal}}" ></banco-chino>
        <banco-mexicano maxamount="maxamount" amount="[[amount]]" pesos="{{pesos}}"></banco-mexicano>
      </div>
      <aside class="conversiones">
        hola
      </aside>
    </div>

    <!-- TODO:: Función para publicar estalo de historicos -->
    <!-- <template is="dom-if" if="{{welcomeChina}}">
      <banco-chino banco-actual="{{bancoActual}}"></banco-chino>
    </template>-->

    <!-- /// resumen de transacciones -->
    <div style="font-size: .7rem; background:#03dac5; padding: .5rem 1rem 1rem 1rem;">
      <h3 style="font-weight: normal">Resumen de transacciones completadas: </h3>
      <ul>
        <template is="dom-repeat" items="{{transacciones}}">
          <li>{{item}}</li>
        </template>
      </ul>
    </div>

  </template>

  <script>
    /**
     * `banco-app`
     * varios bancos en una simulacion de cajero
     */
    class BancoApp extends Polymer.Element {
      static get is() { return 'banco-app'; }
      static get properties() {
        return {
          bancos: {
            type: Array,
            value() {
              return [
                { pais: 'Chino' },
                { pais: 'Mexicano' },
                { pais: 'Japones' },
              ];
            }
          },
          welcomeChina: {
            type: Boolean,
            value: false
          },
          welcomeMexico: {
            type: Boolean,
            value: false
          },
          welcomeJapon: {
            type: Boolean,
            value: false
          },
          transacciones: {
            type: Array,
            value() {
              return []
            }
          },
          amount: {
            type: String,
            value: '',
          },
        }
      }
      seleccionBanco(e) {
        // console.log(this.amount)
        let item = this.$.listaBancos.itemForElement(e.target);
        this.push('transacciones', 'Seleccionaste Banco: ' + item.pais)
        if (this.amount != '' && this.amount != 0) {
          this.push('transacciones', 'Realizaste un deposito de: ' + this.amount + ' dolares')
        }
        // this.$.selector.select(item);
        // if (item.pais === 'Chino') {
        //   this.set('welcomeChina', true)
        //   this.set('welcomeMexico', false)
        //   this.set('welcomeJapon', false)
        // }
        let visible = true

      }
    }

    window.customElements.define(BancoApp.is, BancoApp);
  </script>
</dom-module>