<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="banco-mexicano">
  <template>
    <style>
      h2 {
        font-size: 1.1rem;
        margin-top: 0;
      }

      label {
        display: block;
        padding: .5rem 0rem;
      }

      input {
        border: none;
        /* width: 50vh; */
        background: none;
        border-bottom: 1px solid #333
      }
    </style>
    <div
      style="box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2); padding: 1.5rem 1rem; color: #333; margin-bottom: .5rem;">
      <h2>En el {{bancoActual}} tienes ${{saldolocal}} MXN</h2>
  <template is="dom-if" if="{{}}">
    <label for="retira-mexico" style="visibility: hidden">Introduce el monto a retirar</label>
    <input id="retira-mexico" value="{{retiroBanco::change}}">
    <button on-click="retiro">Retirar</button>
  </template>
      <ul>
        <template is="dom-repeat" items="{{errores}}">
          <li style="color: #b00020">{{item}}</li>
        </template>
      </ul>

      <!-- <p style="text-align: center; margin: 0">El tipo de cambio para hoy es:</p>
      <p style="text-align: center">MNX | JPY</p> -->

    </div>
  </template>
  <script>
    class BancoMexicano extends Polymer.Element {
      static get is() {
        return 'banco-mexicano';
      }
      static get properties() {
        return {
          bancoActual: {
            type: String,
            value: 'Banco Mexicano',
            notify: true
          },
          currency: {
            type: Number,
            value: 20.06,
            notify: true,
          },
          maxAmount: {
            type: Number,
            value: 50000,
            readOnly: true,
          },
          pesos: {
            type: Number,
            computed: '_converThisCountry(currency, amount)',
            observer: '_bancar',
            // notify: true,
          },
          saldolocal: {
            type: Number,
            value: 0,
            notify: true
          },
          conversiones: {
            type: String,
          },
          maxRetiro: {
            type: Number,
            value: 10000
          },
          retiroBanco:{
            type: Number,
            // value: ''
          },         
          errores: {
            type: Array,
            value() {
              return []
            }
          },
        };
      }
      retiro(){
        let monto= this.retiroBanco
        if(this.maxRetiro >= monto){
            if(this.saldolocal >= monto){
              this.set('saldolocal', this.saldolocal- monto)
            }else{
              this.push('errores', 'Fondos insuficientes')
            }
        }else{
          this.push('errores', 'Rebasaste el monto máximo de retiro' )
        }
      }

      _bancar(pesos) {
        if (this.saldolocal < this.maxAmount) {
          this.set('saldolocal', this.saldolocal + pesos)
          this.set('disabled', false)
        } else {
          
        }
      }
      _converThisCountry(currency, amount) {
        return (currency * amount)
      }
    }
    window.customElements.define(BancoMexicano.is, BancoMexicano);
  </script>
</dom-module>