<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="banco-chino">
  <template>
    <style>
      h2 {
        font-size: 1.1rem;
        margin-top: 0;
      }

      label {
        display: block;
        padding: .5rem 0rem;
      }

      input {
        border: none;
        /* width: 50vh; */
        background: none;
        border-bottom: 1px solid #333
      }
    </style>
    <div
      style="box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2); padding: 1.5rem 1rem; color: #333; margin-bottom: .5rem;">
      <h2>En el {{bancoActual}}  tienes 元 {{saldolocal}} CNY</h2>
      <label for="retira-china" style="visibility: hidden">Introduce el monto a retirar</label>
      <input id="retira-china" value="{{retiroBanco::change}}">
      <button on-click="retiro">Retirar</button>
      <ul>
        <template is="dom-repeat" items="{{errores}}">
          <li style="color: #b00020">{{item}}</li>
        </template>
      </ul>

      <!-- <p style="text-align: center; margin: 0">El tipo de cambio para hoy es:</p>
      <p style="text-align: center">MNX | JPY</p> -->

    </div>
  </template>
  <script>
    class BancoChino extends Polymer.Element {
      static get is() {
        return 'banco-chino';
      }

      static get properties() {
        return {
          bancoActual: {
            type: String,
            value: 'Banco Chino',
            notify: true
          },
          currency: {
            type: Number,
            value: 7.16,
            notify: true,
          },
          maxAmount: {
            type: Number,
            value: 10000,
            readOnly: true,
          },
          yuanes: {
            type: Number,
            computed: '_converThisCountry(currency, amount)',
            observer: '_bancar',
            // notify: true,
          },
          saldolocal: {
            type: Number,
            value: 0,
            notify: true
          },
          conversiones: {
            type: String,
          },
          maxRetiro: {
            type: Number,
            value: 200
          },
          retiroBanco:{
            type: Number,
            // value: ''
          },         
          errores: {
            type: Array,
            value() {
              return []
            }
          },
        };
      }
      retiro(){
        let monto= this.retiroBanco
        if(this.maxRetiro >= monto){
            if(this.saldolocal >= monto){
              this.set('saldolocal', this.saldolocal- monto)
            }else{
              this.push('errores', 'Fondos insuficientes')
            }
        }else{
          this.push('errores', 'Rebasaste el monto máximo de retiro' )
        }
      }

      _bancar(yuanes) {
        if (this.saldolocal < this.maxAmount) {
          this.set('saldolocal', this.saldolocal + yuanes)
          this.set('disabled', false)
        } else {
          
        }
      }
      _converThisCountry(currency, amount) {
        return (currency * amount)
      }
    }
    window.customElements.define(BancoChino.is, BancoChino);
  </script>
</dom-module>