<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="calculadora-componente">
  <template>
    <style>
      :host {
        display: block;
      }
      p span{
        color:lightseagreen; font-weight: bold
      }
    </style>
    <h1>Operaciones basicas</h1>
    <h2>De {{dato1}} y {{dato2}}</h2>
    <p> <span >Suma:</span> [[suma]]</p>
    <p> <span >Resta:</span> [[resta]]</p>
    <p><span >Multiplicación:</span> [[multiplica]]</p>
    <p><span >División:</span> [[division]]</p>
    <p><span >Total:</span> [[total]]</p>
  </template>

  <script>
    /**
     * `calculadora-componente`
     * calculadora con Crear primer componente web con caracteristicas
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class CalculadoraComponente extends Polymer.Element {
      static get is() { return 'calculadora-componente'; }
      static get properties() {
        return {
          dato1: {
            type: Number,
            value: 10
          },
          dato2: {
            type: Number,
            value: 2,
            observer: '_escuchaDatoDos'
          }, 
          suma: {
            type: Number,
            computed: '_realizaSuma(dato1, dato2)'
          },
          resta: {
            type: Number,
            computed: '_realizaResta(dato1, dato2)'
          },
          multiplica: {
            type: Number,
            computed: '_realizaProducto(dato1, dato2)'
          },
          division: {
            type: Number,
            computed: '_realizaDivision(dato1, dato2)'
          },
          total: {
            type: Number,
          }
        };
      }


      static get observers(){
        return ['_observaResultados(suma, resta, multiplica, division)']
      }

      _observaResultados(suma, resta, multiplica, division){
        console.log('observer resultados')
        if (division === Infinity){
          division = 0
        }
        this.set('total', suma + resta + multiplica + division) 
      }

      _escuchaDatoDos(nuevoValor){
        console.log('observer dato2')
        if(nuevoValor === 0 ){
          console.log('La división será Infinity')
        }
      }
      _realizaDivision(num1, num2){
        return num1/num2
      }
      _realizaProducto(num1, num2){
        return num1 * num2
      }
      _realizaResta(num1, num2){
        return num1-num2
      }      
      _realizaSuma(num1, num2){
        return num1+num2
      }
    }

    window.customElements.define(CalculadoraComponente.is, CalculadoraComponente);
  </script>
</dom-module>
