<!-- targeeeeet (web component) -->
<link rel="import" href="../polymer/polymer-element.html">



<!-- Dom-module para iniciar el componente -->
<dom-module id="binding-helpers"> <!-- el id va ligado a el return de la clase del web component -->
  <template>
    <div> Employee list: </div>
    <!-- el elemento que se va a repetir (iterando según los elementos que se encuentran en los valores (ITEMS) del array {{employees}}) -->
    <template is="dom-repeat" items="{{employees}}"> 
        <div># [[index]]</div> 
        <!-- index del array  -->
        <div>First name: <span>[[item.first]]</span></div>
        <div>Last name: <span>[[item.last]]</span></div>
    </template>

  </template>

  <script>
    /**
     * `binding-helpers`
     * jugando con los Data binding helper elements
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class BindingHelpers extends Polymer.Element {
      static get is() { return 'binding-helpers'; }
      static get properties() {
        return {
          employees: {
            type: Array,
            value() {
              return [
                {first: 'Bob', last: 'Smith'},
                {first: 'Sally', last: 'Johnson'},
              ];
            }
          
          }
        };
      }
    }

    window.customElements.define(BindingHelpers.is, BindingHelpers);
  </script>
</dom-module>


<dom-module id="x-custom">
    <template>
      <template is="dom-repeat" id="menu" items="{{menuItems}}">
          <div>
            <span>{{item.name}}</span>
            <button on-click="add">+</button>
            <span style="padding: 0 10px 0 10px" >{{item.ordered}}</span>
            <button on-click="quit" >-</button>
          </div>
      </template>
    </template>
    <script>
      class XCustom extends Polymer.Element {
  
        static get is() { return 'x-custom'; }
  
        static get properties() {
          return {
            menuItems: {
              type: Array,
              value() {
                return [
                  {name: 'Pizza', ordered: 0},
                  {name: 'Pasta', ordered: 0},
                  {name: 'Toast', ordered: 0}
                ];
              }
            }
          }
        }
  // order (lo cambie a add ) es el nombre del onclick dentro del boton, 
        add(e) {
          /*
          Model es una instancia de TemplateInstance, que proporciona las API de datos de Polymer: get, set, 
          setProperties, notifyPath y los métodos de manipulación de arrays. 
          Puede utilizarlos para manipular el model, utilizando rutas relativas a la instancia de plantilla.*/
          // Solo los datos vinculados están disponibles en el objeto modelo
          // tomara el actual item y modificará la propiedad de ordered, tomando lo que tiene y sumandole uno  y actualizandolo 
          e.model.set('item.ordered', e.model.item.ordered+1);
        }
        quit(e) {
          if (e.model.item.ordered > 0 ){
            e.model.set('item.ordered', e.model.item.ordered-1);
          }
        }

      }
  
      customElements.define(XCustom.is, XCustom);
    </script>
  
  </dom-module>
