<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="clase-uno">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Y este es el target (clase-uno.html) [[propiedadMayusculas]] {{unaProp}} {{otraProp}}</h2>
    <slot></slot>
  </template>

  <script>
    /**
     * `clase-uno`
     * practica de clase ambiente1
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class ClaseUno extends Polymer.Element {
      static get is() { return 'clase-uno'; }
      static get properties() {
        return {
          propiedadMayusculas: {
            type: String,
            value: 'Esta propiedad era clase uno, pero ya cambie'
          }, 
          unaProp: {
            type: Boolean,
            value: false, 
            reflectToAttribute: true
          },
          otraProp :{
            type: String,
            value: 'Segunda propiedad'
          }
        };
      }
    }

    window.customElements.define(ClaseUno.is, ClaseUno);
  </script>
</dom-module>
